/* ----------------------

  LANES grid framework
  ====================

  Default usage
  =============
  <div class="container">
    <div class="row">
      <div class="six columns">
      </div>
      <div class="six columns">
      </div>
    </div>
  </div>

-----------------------*/
/* Mixins ------ */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  max-width: 960px;
  position: relative;
  margin: 0 auto;
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

.row {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }

.column, .columns {
  float: left;
  display: block;
  margin-left: 1.5%;
  margin-bottom: 20px;
  vertical-align: top; }
  .column:first-child, .columns:first-child {
    margin-left: 0; }
  .column.one, .columns.one {
    width: 6.958%; }
  .column.two, .columns.two {
    width: 15.41%; }
  .column.three, .columns.three {
    width: 23.87%; }
  .column.four, .columns.four {
    width: 32.33%; }
  .column.five, .columns.five {
    width: 40.79%; }
  .column.six, .columns.six {
    width: 49.25%; }
  .column.seven, .columns.seven {
    width: 57.7%; }
  .column.eight, .columns.eight {
    width: 66.16%; }
  .column.nine, .columns.nine {
    width: 74.62%; }
  .column.ten, .columns.ten {
    width: 83.08%; }
  .column.eleven, .columns.eleven {
    width: 91.54%; }
  .column.twelve, .columns.twelve {
    width: 100%; }

/* Offsets ------- */
.columns.offset-by-one, .column.offset-by-one {
  margin-left: 8.458%; }
.columns.offset-by-two, .column.offset-by-two {
  margin-left: 16.91%; }
.columns.offset-by-three, .column.offset-by-three {
  margin-left: 25.37%; }
.columns.offset-by-four, .column.offset-by-four {
  margin-left: 33.83%; }
.columns.offset-by-five, .column.offset-by-five {
  margin-left: 42.29%; }
.columns.offset-by-six, .column.offset-by-six {
  margin-left: 50.75%; }
.columns.offset-by-seven, .column.offset-by-seven {
  margin-left: 59.2%; }
.columns.offset-by-eight, .column.offset-by-eight {
  margin-left: 67.66%; }
.columns.offset-by-nine, .column.offset-by-nine {
  margin-left: 76.12%; }
.columns.offset-by-ten, .column.offset-by-ten {
  margin-left: 84.58%; }
.columns.offset-by-eleven, .column.offset-by-eleven {
  margin-left: 93.04%; }

/* Centered ------------------------- */
.column.centered, .columns.centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }

/* Mobile Screens ------------------- */
@media screen and (max-width: 480px) {
  .column, .columns {
    margin-left: 0;
    margin-bottom: 10px; }
    .column.one, .column.two, .column.three, .column.four, .column.five, .column.six, .column.seven, .column.eight, .column.nine, .column.ten, .column.eleven, .column.twelve, .columns.one, .columns.two, .columns.three, .columns.four, .columns.five, .columns.six, .columns.seven, .columns.eight, .columns.nine, .columns.ten, .columns.eleven, .columns.twelve {
      width: 100%; }
    .column.offset-by-one, .column.offset-by-two, .column.offset-by-three, .column.offset-by-four, .column.offset-by-five, .column.offset-by-six, .column.offset-by-seven, .column.offset-by-eight, .column.offset-by-nine, .column.offset-by-ten, .column.offset-by-eleven, .columns.offset-by-one, .columns.offset-by-two, .columns.offset-by-three, .columns.offset-by-four, .columns.offset-by-five, .columns.offset-by-six, .columns.offset-by-seven, .columns.offset-by-eight, .columns.offset-by-nine, .columns.offset-by-ten, .columns.offset-by-eleven {
      margin-left: 0; } }
