/* ----------------------

  LANES grid framework
  ====================

  Default usage
  =============
  <div class="container">
    <div class="row">
      <div class="six columns">
      </div>
      <div class="six columns">
      </div>
    </div>
  </div>

-----------------------*/

/* Mixins ------ */
@mixin clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  position: relative;
  margin: 0 auto;
  @include clearfix;
}

.row {
  @include clearfix;
}

.column,
.columns {
  float: left;
  display: block;
  margin-left: 1.5%;
  margin-bottom: 20px;
  vertical-align: top;

  &:first-child {
    margin-left: 0;
  }

  &.one {
    width: 6.958%;
  }
  &.two {
    width: 15.41%;
  }
  &.three {
    width: 23.87%;
  }
  &.four {
    width: 32.33%;
  }
  &.five {
    width: 40.79%;
  }
  &.six {
    width: 49.25%;
  }
  &.seven {
    width: 57.70%;
  }
  &.eight {
    width: 66.16%;
  }
  &.nine {
    width: 74.62%;
  }
  &.ten {
    width: 83.08%;
  }
  &.eleven {
    width: 91.54%;
  }
  &.twelve {
    width: 100%;
  }
}

/* Offsets ------- */
.columns,
.column {
  &.offset-by-one {
    margin-left: 8.458%;
  }
  &.offset-by-two {
    margin-left: 16.91%;
  }
  &.offset-by-three {
    margin-left: 25.37%;
  }
  &.offset-by-four {
    margin-left: 33.83%;
  }
  &.offset-by-five {
    margin-left: 42.29%;
  }
  &.offset-by-six {
    margin-left: 50.75%;
  }
  &.offset-by-seven {
    margin-left: 59.2%;
  }
  &.offset-by-eight {
    margin-left: 67.66%;
  }
  &.offset-by-nine {
    margin-left: 76.12%;
  }
  &.offset-by-ten {
    margin-left: 84.58%;
  }
  &.offset-by-eleven {
    margin-left: 93.04%;
  }
}

/* Centered ------------------------- */
.column,
.columns {
  &.centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}


/* Mobile Screens ------------------- */

@media screen and (max-width: 480px) {
  .column,
  .columns {
    margin-left: 0;
    margin-bottom: 10px;

    &.one,
    &.two,
    &.three,
    &.four,
    &.five,
    &.six,
    &.seven,
    &.eight,
    &.nine,
    &.ten,
    &.eleven,
    &.twelve {
      width: 100%;
    }

    &.offset-by-one,
    &.offset-by-two,
    &.offset-by-three,
    &.offset-by-four,
    &.offset-by-five,
    &.offset-by-six,
    &.offset-by-seven,
    &.offset-by-eight,
    &.offset-by-nine,
    &.offset-by-ten,
    &.offset-by-eleven {
      margin-left: 0;
    }
  }
}