/* ----------------------

  LANES grid framework
  ====================

  Default usage
  =============
  <div class="container">
    <div class="row">
      <div class="six columns">
      </div>
      <div class="six columns">
      </div>
    </div>
  </div>

-----------------------*/

/* Vars */
$columns: (one, 1), (two, 2), (three, 3), (four, 4), (five, 5), (six, 6), (seven, 7), (eight, 8), (nine, 9), (ten, 10), (eleven, 11), (twelve, 12);

$column-width: 6.9583333%;
$gutter: 1.5%;


/* Mixins ------ */
@mixin clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 980px;
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
  @include clearfix;
}

.row {
  @include clearfix;
}

.column,
.columns {
  float: left;
  display: block;
  margin-left: 1.5%;
  margin-bottom: 18px;
  vertical-align: top;

  &:first-child {
    margin-left: 0;
  }

  @each $val in $columns {
    $column-name: nth($val, 1);
    $column-number: nth($val, 2);

    &.#{$column-name} {
      width: $column-number * $column-width + ($gutter * ($column-number - 1));
    }
  }
}

/* Offsets ------- */
.columns,
.column {
  @each $val in $columns {
    $column-name: nth($val, 1);
    $column-number: nth($val, 2);

    &.offset-by-#{$column-name} {
      margin-left: $column-number * $column-width + $gutter * $column-number;
    }
  }
}

/* Centered ------------------------- */
.column,
.columns {
  &.centered {
    float: none;
    clear: both;
    margin-left: auto;
    margin-right: auto;
  }
}


/* Mobile Screens ------------------- */

@media screen and (max-width: 480px) {
  .column,
  .columns {
    margin-left: 0;
    margin-bottom: 10px;

    @each $val in $columns {
      $column-name: nth($val, 1);
      $column-number: nth($val, 2);
      &.#{$column-name} {
        width: 100%;
      }

      &.offset-by-#{$column-name} {
        margin-left: 0;
      }
    }
  }
}